@import '~jquery-ui/themes/base/all.css';
@import '~@claviska/jquery-minicolors/jquery.minicolors.css';
@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/tomorrow-night-bright.css';
@import '~sweetalert/dist/sweetalert.css';
@import '~medium-editor/src/sass/medium-editor.scss';
@import '~medium-editor/src/sass/themes/beagle.scss';
@import '~@fancyapps/fancybox/dist/jquery.fancybox.css';

@import '../libs/uploader/slim.css';